body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    text-decoration: underline;
    color: #007BFF;
}

h2 {
    height: 25px;
}

p {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
}

.func {
    list-style: none;
    padding: 0;
    max-width: 700px;
    margin: 20px auto;
}

.func li {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.func p {
    text-align: left;
    margin: 0;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #0056b3;
}

table {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #000;
    border-collapse: collapse;
 }
 th, td {
    width: 25%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    padding: 0.3em;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }
 th:first-child, td:first-child {
    background-color: #eee;
  }