body{
    font-family:Arial, sans-serif;
    background-color: #fff;
}
form{
background-color: #fff;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #0056b3;
}