body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    text-decoration: underline;
}

.miembros {
    list-style: none;
    padding: 0;
    max-width: 700px;
    margin: 20px auto;
}

.miembros li {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #0056b3;
}

section {
    align-items: center;
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}