<h2>Administrar Usuarios</h2>

<!-- Botón para añadir nuevo usuario -->
<a href="/usuarios/addUser" class="btn btn-admin">Añadir Usuario</a>

<!-- Botón para modificar usuario -->
<a href="/usuarios/modifyUser" class="btn btn-admin">Modificar Usuario</a>

<!-- Botón para eliminar usuario -->
<a href="/usuarios/eliminate" class="btn btn-admin">Eliminar Usuario</a>

<a href="/usuarios/viewAllUsuarios" class="btn btn-admin">Visualizar usuarios</a>

<h2>Administrar Cartas</h2>

<a href="/cartas/addCard" class="btn btn-admin">Añadir Carta</a>

<a href="/cartas/modificarCard" class="btn btn-admin">Modificar Carta</a>

<a href="/cartas/eliminarCarta" class="btn btn-admin">Eliminar Carta</a>

<a href="/cartas/viewAllCartas" class="btn btn-admin">Visualizar cartas</a>

<h2>Administrar Mazos</h2>

<a href="/mazos/modificarMazoAdmin" class="btn btn-admin">Modificar Mazo</a>

<a href="/mazos/eliminarMazoAdmin" class="btn btn-admin">Eliminar Mazo</a>

<a href="/mazos/todosMazos" class="btn btn-admin">Visualizar Todos Los Mazos</a>
