<form action="/cartas/addCard" method="POST">
    <fieldset>
      <% if (locals.mensaje) { %>
        <p><strong><%= locals.mensaje %></strong></p>
      <% } %>
      <legend>Añadir carta</legend>
      
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>
      
      <div>
        <label for="fuerza">Fuerza:</label>
        <input type="number" id="fuerza" name="fuerza" required min="1" max="200">
      </div>
      
      <div>
        <label>
          <input type="radio" name="tipocarta" value="1"> Tipo 1 (Fuego)
        </label>
        <label>
          <input type="radio" name="tipocarta" value="2"> Tipo 2 (Agua)
        </label>
        <label>
          <input type="radio" name="tipocarta" value="3"> Tipo 3 (Aire)
        </label>
        <label>
          <input type="radio" name="tipocarta" value="4"> Tipo 4 (Hielo)
        </label>
      </div>
      
      <div>
        <button type="submit">Agregar Carta</button>
      </div>
    </fieldset>
  </form>
  