<form action="/cartas/addCard" method="POST">
    <fieldset>
      <% if (locals.error) { %>
        <p><strong><%= locals.error %></strong></p>
      <% } %>
      <legend>Añadir carta</legend>
      
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>
      
      <div>
        <label for="fuerza">Fuerza:</label>
        <input type="number" id="fuerza" name="fuerza" required min="1" max="200">
      </div>
      
      <div>
        <label for="tipocarta">Tipo de Carta:</label>
        <select id="tipocarta" name="tipocarta" required>
          <option value="">Seleccione un tipo</option>
          <option value="1">Tipo 1 (Fuego)</option>
          <option value="2">Tipo 2 (Agua)</option>
          <option value="3">Tipo 3 (Aire)</option>
          <option value="4">Tipo 4 (Hielo)</option>
        </select>
      </div>
      
      <div>
        <button type="submit">Agregar Carta</button>
      </div>
    </fieldset>
  </form>
  