<h1>Bienvenido a ChangeDEX</h1>
<p>Disponemos de un foro de intercambios, donde podrás postear tu solicitud de intercambio especificando que carta cambias y cual quieres. Ten en cuenta que este intercambio es solo símbólico, dado que estamos dando soporte al juego real. </p>
<p>Está disponible la herramienta de creación de cartas, una colección de cartas creadas por la comunidad desde cero, todos los valores e incluso la imagen son personalizables.</p>
<p>También tienes la posibilidad de crear tus mazos.</p>
