<h1>Foro</h1>
<p>Aquí estará implementada la funcionalidad del foro. Aparecerá cada mazo que los usuarios han creado.</p>

<p>Se filtraran por calificaciones o numero de visitas.</p>

<p>Se podrán comentar (si estás logueado, claro).</p>
