<h2>Administrar Mazos</h2>

<a href="/mazos/addMazo" class="btn btn-agregar">Añadir Mazo</a>

<a href="/mazos/modificarMazo" class="btn btn-modificar">Modificar Mazo</a>

<a href="/mazos/eliminarMazo" class="btn btn-eliminar">Eliminar Mazo</a>

<a href="/mazos/misMazos" class="btn btn-visualizarr">Visualizar Mis Mazos</a>
