<h1>Registrarse</h1>

<form action="/usuarios/register" method="POST">
<fieldset>
	<% if (locals.error) { %>
		<p><strong><%= locals.error %></strong></p>
	<% } %>
	<legend>Usuario y contrase침a</legend>
	<div><label>Nombre:</label> <input type="text" name="name" /></div>
	<div><label>Usuario:</label> <input type="text" name="usernameRegister" /></div>
	<label for="email">Correo Electr칩nico:</label>
    <input type="email" id="email" name="email" required>
	<div><label>Contrase침a:</label> <input type="password" name="password1" /></div>
    <div><label>Confirme la contrase침a:</label> <input type="password" name="password2" /></div>
	<button type="submit">Enviar</button>
</fieldset>
