.avatar-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    display: block;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    padding: 1.2rem 0;
    gap: .6rem;
  }
  
  section .avatar-circle {
    width: 110px;
    height: 110px;
  }

  .nombre-verde {
  color: green;
}

.nombre-rojo {
  color: red;
}