<footer>
		<p>
		  ¿Necesitas ayuda? Escríbenos a nuestro 
		  <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=grupo10.sw.soporte@gmail.com&su=Necesito%20Ayuda&body=Hola,%20tengo%20una%20consulta."
			 target="_blank">
			correo!
		  </a>
		</p>
</footer>
	  
