 <link rel="stylesheet" href="/css/gestionar-administrar.css">

 <div class="panel">
    <h2>Panel de Administrador</h2>
    <a href="/usuarios/administrarUsuarios" class="btn">Administrar Usuarios</a>
    <a href="/cartas/administrarCartas" class="btn">Administrar Cartas</a>
    <a href="/mazos/administrarMazos" class="btn">Administrar Mazos</a>
  </div>