<link rel="stylesheet" href="/css/añadirInventario.css">

<div class="panel">
  <h2>Añadir Cartas al Inventario</h2>
  <div class="panel-actions">
    <a href="/cartas/addCardInventarioEstandar"
       class="btn btn-coleccion-estandar">
      Añadir cartas de la colección Estándar
    </a>

    <a href="/cartas/addCardInventarioCustom"
       class="btn btn-coleccion-custom">
      Añadir cartas de la colección Custom (user made)
    </a>

    <a href="/cartas/addCardInventarioTodos"
       class="btn btn-coleccion-todos">
      Ver las dos colecciones juntas
    </a>
  </div>
</div>
