<link rel="stylesheet" href="/css/avatars.css">

<h1><b>Miembros del Equipo</b></h1>
 
    <section id="Yuriy">
        <img src="/img/yuriy.jpg" alt="Yuriy" class ="avatar-circle">
        <h2 class = "nombre-verde"><b>Yuriy Chaban Markevych</b></h2>
        <p><em>yuriycha@ucm.es</em></p>
        <p>Implementó practicamente toda la lógica de JavaScript (y una parte del css).</p>
    </section>

<h1><b>Antiguos miembros del Equipo</b></h1>

    <section id="Alexandro">
        <img src="/img/alexandro.png" alt="Alexandro" class ="avatar-circle">
        <h2 class = "nombre-rojo"><b>Alexandro Fernández Boreisha</b></h2>
        <p><em>alexfe03@ucm.es</em></p>
        <p>Hizo una buena parte del CSS global del proyecto.</p>
    </section>

    <section id="Daniel">
        <img src="/img/daniel.jpg" alt="Daniel" class ="avatar-circle">
        <h2 class = "nombre-rojo"><b>Daniel Martín del Castillo</b></h2>
        <p><em>daniem15@ucm.es</em></p>
    </section>


    <section id="Diego">
        <img src="/img/diego.jpg" alt="Diego" class ="avatar-circle">
        <h2 class = "nombre-rojo"><b>Diego García Herencia</b></h2>
        <p><em>digarc04@ucm.es</em></p>
    </section>

