<h1>Selecciona el mazo que quieres modificar</h1>

<form action="/mazos/preModificarMazo" method="POST">
  <fieldset>
    <% if (locals.mensaje) { %>
      <p><strong><%= locals.mensaje %></strong></p>
    <% } %>
    <legend>Mazo a modificar</legend>

    <% if (mazos.length > 0) { %>
      <div>
        <label for="mazo">Mazo:</label>
        <select name="nombre" id="mazo" required>
          <option value="" disabled selected>-- Selecciona un mazo --</option>
          <% mazos.forEach(m => { %>
            <option value="<%= m.nombre %>">
              <%= m.nombre %>
            </option>
          <% }) %>
        </select>
      </div>
      <button type="submit">Modificar</button>
    <% } else { %>
      <p>No hay mazos que satisfacen la petición.</p>
    <% } %>
    
  </fieldset>
</form>
