<h2>Administrar Usuarios</h2>

<!-- Botón para añadir nuevo usuario -->
<a href="/usuarios/addUser" class="btn btn-agregar">Añadir Usuario</a>

<!-- Botón para modificar usuario -->
<a href="/usuarios/modifyUser" class="btn btn-modificar">Modificar Usuario</a>

<!-- Botón para eliminar usuario -->
<a href="/usuarios/eliminate" class="btn btn-eliminar">Eliminar Usuario</a>

<h2>Administrar Cartas</h2>

<!-- Botón para añadir nuevo usuario -->
<a href="/usuarios/addCard" class="btn btn-agregar">Añadir Usuario</a>

<!-- Botón para modificar usuario -->
<a href="/usuarios/modificarCard" class="btn btn-modificar">Modificar Usuario</a>

<!-- Botón para eliminar usuario -->
<a href="/usuarios/eliminateCard" class="btn btn-eliminar">Eliminar Usuario</a>
