<h2>Administrar Usuarios</h2>

<!-- Botón para añadir nuevo usuario -->
<a href="/usuarios/addUser" class="btn btn-agregar">Añadir Usuario</a>

<!-- Botón para modificar usuario -->
<a href="/modificar" class="btn btn-modificar">Modificar Usuario</a>

<!-- Botón para eliminar usuario -->
<a href="/eliminar" class="btn btn-eliminar">Eliminar Usuario</a>
