<h2>Modificar Usuarios</h2>


<form action="/usuarios/modifyUser" method="POST">
    <fieldset>
    <legend>Datos del usuario</legend>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br><br>
    <p>Dejar en blanco lo que no se modifica </p>
    <label for="nombre2">Nuevo nombre:</label>
    <input type="text" id="nombre2" name="nombre2">
    <br><br>

    <label for="contraseña2">Nueva contraseña:</label>
    <input type="password" id="pass2" name="pass2">
    <br><br>
<label>
    <input type="radio" name="tipoUsuario" value="A"> Admin
</label>

<label>
    <input type="radio" name="tipoUsuario" value="U"> Usuario
</label>
 <button type="submit">Modificar usuario</button>
    </fieldset>
</form>

