<nav id="sidebarIzq">
	<h3>Navegación</h3>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/contenido/normal">Foro de intercambios</a></li>
		<li><a href="/contenido/user">Contenido Usuario</a></li>
		<li><a href="/contenido/admin">Contenido Admin</a></li>
	</ul>
</nav>