<h2>Panel de Administrador</h2>

<a href="/usuarios/administrarUsuarios" class="btn btn-gestionar-administrar">Administrar Usuarios</a>

<a href="/cartas/administrarCartas" class="btn btn-gestionar-administrar">Administrar Cartas</a>

<a href="/mazos/administrarMazos" class="btn btn-gestionar-administrar">Administrar Mazos</a>