<a href="/cartas/addCardInventarioEstandar" class="btn btn-coleccion-estandar">Añadir cartas de la coleccion Estandar</a>

<a href="/cartas/addCardInventarioCustom" class="btn btn-coleccion-custom">Añadir cartas de la coleccion Custom (user made)</a>

<a href="/cartas/addCardInventarioTodos" class="btn btn-coleccion-todos">Ver las dos coleciones juntas</a>