<h1>Borrado de mazos</h1>

<form action="/mazos/eliminarMazo" method="POST">
<fieldset>
	<% if (locals.mensaje) { %>
		<p><strong><%= locals.mensaje %></strong></p>
	<% } %>
	<legend>Nombre del mazo a borrar</legend>
	<div>
  <label for="mazo">Mazo:</label>
  <select name="name" id="mazo" required>
    <% if (misMazos.length > 0) { %>
      <% misMazos.forEach((m, idx) => { %>
        <option
          value="<%= m.nombre %>"
          <%= idx === 0 ? 'selected' : '' %>
        >
          <%= m.nombre %>
        </option>
      <% }) %>
    <% } else { %>
      <option value="" disabled selected>No tienes mazos aún</option>
    <% } %>
  </select>
</div>
	<button type="submit">Eliminar</button>
</fieldset>
