
    <link rel="stylesheet" href="/css/avatars.css">

    <h1><b>Miembros del Equipo</b></h1>
    <hr>
    <section id="Yuriy">
        <img src="/img/yuriy.jpg" class="avatar-circle" alt="Yuriy">
        <h2><b>Yuriy Chaban Markevych</b></h2>
        <p><em>yuriycha@ucm.es</em></p>
        <p><b>Detalles:</b>Estudiante de Ingeniería de Computadores en la Universidad Complutense de Madrid.</p>
    </section>

    <section id="Alexandro">
        <img src="/img/alexandro.png" class="avatar-circle" alt="Alexandro">
        <p><em>alexfe03@ucm.es</em></p>
        <p><b>Detalles:</b> Aficionado y coleccionista de cartas Magic y Pokemon.</p>
        <p>Estudia la carrera de ingeniería de Computadores en la Universidad Complutense de Madrid.</p>
    </section>

    <section id="Daniel">
        <img src="/img/DANIEL.jpg" class="avatar-circle" alt="Daniel">
        <h2><b>Daniel Martín del Castillo</b></h2>
        <p><em>daniem15@ucm.es</em></p>
        <p><b>Detalles:</b>Estudiante de Ingeniería de Computadores en la Universidad Complutense de Madrid. 
        Fan de los videojuegos, el gimnasio y las lecturas, principalmente de fantasía.</p>
    </section>

