<h1>Introduce el nombre de la carta que quieres modificar</h1>

<form action="/cartas/preModificarCard" method="POST">
<fieldset>
	<% if (locals.mensaje) { %>
		<p><strong><%= locals.mensaje %></strong></p>
	<% } %>
	<legend>Nombre de la carta a modificar</legend>
	<div><label>Nombre:</label> <input type="text" name="nombre" /></div>
	<button type="submit">Modificar</button>
</fieldset>
