<link rel="stylesheet" href="/css/gestionar-administrar.css">

  <div class="panel">
    <h2>Panel de Usuario</h2>
    <a href="/mazos/gestionarMazos" class="btn">Gestionar Mazos</a>
    <a href="/cartas/gestionarCartas" class="btn">Gestionar Cartas</a>
  </div>